@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-bold: 'Anton', sans-serif;
    --font-context-principal: 'Roboto', sans-serif;
    --font-context-secondary: 'Oswald', sans-serif;

    --pink-light: pink;
    --pink-dark:  rgb(235, 139, 155);
    --purple: purple;
}

/* Reset */
header {
    background-color: var(--pink-dark);
    width: 100vw;
}

.container {
    justify-content: space-between !important;
    align-items: center;
    padding-top: 15px;
}

.welcome span {
    font-weight: 600;
}

/* Dashboard */

h1 {
    text-align: center;
}

.new_task {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.row {
    flex-direction: column;
}

.row > * + * {
    margin-top: 50px;
    margin-bottom: 40px;
}

@media screen and (min-width: 370px) {
    .row {
        flex-direction: row;
    }

    .row > * + * {
        margin-top: 0;
        margin-bottom: 0;
    }
    
}

.table td, .table th {
    border: none;
}


/* Data placeholder */
input[type="date"]::before { 
    content: attr(data-placeholder);
    color: rgba(92, 92, 92, 0.904);
    width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }