/* Login screen */

.login_screen_mascote,
.space {
  display: none;
}

.mascote {
  position: fixed;
  left: -200px;
  z-index: -1;
  height: clamp(900px, 100svh, 1000px);
  margin-top: auto;
  margin-bottom: auto;
}

.login_screen_form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10vh 40px;
}

.logo {
  width: 250px;
}

.slogan {
  font-size: 1.4rem;
  width: 80%;
  text-align: center;
}

.form {
  flex-direction: column;
  gap: 25px;
}

.login,
.signup {
  width: 80vw;
  max-width: 500px;
}

/* Tablet ate telas maiores */
@media screen and (min-width: 750px) {
  .login_screen_mascote,
  .space {
    display: inherit;
  }

  .space {
    width: 600px;
    height: 100svh;
  }

  .login,
  .signup {
    width: 30vw;
    margin: 20px;
  }

  .login_screen_form {
    padding: 40px;
  }
}

/* Distancia do mascote */
@media screen and (min-width: 500px) and (max-width: 1200px) {
  .mascote {
    left: -400px;
  }

  .space {
    margin-left: -300px;
  }
}

/* Flex direction do form para telas maiores */
@media screen and (min-width: 1950px) {
  .form {
    flex-direction: row;
  }
}
