/* Login screen */

.login_screen_mascote,
.space {
  display: none;
}

.mascote {
  position: fixed;
  left: -200px;
  z-index: -1;
  height: clamp(900px, 100svh, 1000px);
  margin-top: auto;
  margin-bottom: auto;
}

.login_screen_form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10vh 40px;
}

.logo {
  width: 250px;
}

.slogan {
  font-size: 1.4rem;
  width: 80%;
  text-align: center;
}

.form {
  flex-direction: column;
  gap: 25px;
}

form button {
  margin-top: 10px;
}

.login,
.signup {
  width: 80vw;
  max-width: 500px;
}

/* Tablet ate telas maiores */
@media screen and (min-width: 750px) {
  .login_screen_mascote,
  .space {
    display: inherit;
  }

  .space {
    width: 600px;
    height: 100svh;
  }

  .login,
  .signup {
    width: 30vw;
    margin: 20px;
  }

  .login_screen_form {
    padding: 40px;
  }
}

/* Distancia do mascote */
@media screen and (min-width: 500px) and (max-width: 1200px) {
  .mascote {
    left: -400px;
  }

  .space {
    margin-left: -300px;
  }
}

/* Flex direction do form para telas maiores */
@media screen and (min-width: 1950px) {
  .form {
    flex-direction: row;
  }
}


/* Info menu */
.infosection #infobtn {
  transform: translateX(100px);
}

.infosection #infobtn, .infosection #infobtn::after {
  background-color: rgba(128, 128, 128, 0);
  width: 50px;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#infoText {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  max-width: 90vw;
  border-radius: 20px 0 20px 20px;
  border: 5px outset pink;
  background-color: white;
  position: fixed;
  top: 80px;
  right: 45px;
  transform: translateX(600px);
  transition: transform 400ms ease-in-out;
}

#infoText a {
  text-decoration: none;
  color: black;
}

@media  (max-width: 560px) {
  #infoText {
    left: 8px;
  }
}

.links {
  gap: 15px;
}

#infoText.active {
  animation: boing 300ms 1;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}