@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-bold: "Anton", sans-serif;
  --font-context-principal: "Roboto", sans-serif;
  --font-context-secondary: "Oswald", sans-serif;

  --pink01: #feede9;
  --pink02: #fdd8d3;
  --pink03: #f9bdbb;
  --pink04: #f3a8ad;
  --pink05: #eb8b9b;
  --pink06: #ca657f;
  --pink07: #a94669;
  --pink08: #882c55;
  --pink09: #701a49;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-context-principal);
}

/* Global settings */

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.3rem;
}

.btn {
  background-color: var(--pink07);
  color: white;
  width: 100%;
}

.btn:hover {
  background-color: var(--pink08);
  color: white;
}

input,
textarea {
  margin-top: 10px;
}

textarea {
  margin-bottom: 10px;
}


/* Alert */

#alerta-login, #alerta-userpage {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  margin: auto;
  width: 80vw;
  max-width: 700px;
}